.edp_button {
  top: 0;
  bottom: 0;
  margin: 5px auto;
  /*
    height: 30px;
    width: 70px;
    */
  background-color: #cccccc;
  transition: background-color 0.1s;
  border: none;
  text-align: center;
  line-height: 30px;
}
.edp_button:hover {
  background-color: #d9d9d9;
}
.edp_button:active {
  background-color: #bfbfbf;
}
