/*  Usage:
 *      <button class=".edp_button"></button>
 *
 *  To change the height while keeping text centered vertically,
 *  make sure that height = line-height, i.e.
 *      @height: 32px;
 *      height: @height;
 *      line-height: @height;
 */
.edp_button {
  top: 0;
  bottom: 0;
  margin: 5px auto;
  background-color: #CCCCCC;
  transition: background-color 0.1s;
  border: none;
  text-align: center;
}
.edp_button:hover {
  background-color: #d9d9d9;
}
.edp_button:active {
  background-color: #bfbfbf;
}
