body {
  height: 100vh;
  margin: 0;
}
div#wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
@media only screen and (max-width: 768px) {
  div#wrapper {
    flex-direction: column;
  }
}
div#wrapper div#map {
  flex: auto;
}
div#wrapper div#input {
  text-align: center;
  background-color: darkgrey;
  /*
		// DESKTOP
		flex-direction: column;

		// MOBILE
		@media only screen and (max-width: @width) {
			flex-direction: row;
		}
		*/
}
div#wrapper div#input button,
div#wrapper div#input select {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  div#wrapper div#input button,
  div#wrapper div#input select {
    height: 50px;
    width: 100%;
  }
}
div#wrapper div#input div.list {
  text-align: center;
  display: block;
}
@media only screen and (max-width: 768px) {
  div#wrapper div#input div.list {
    display: inline-block;
  }
}
div#wrapper div#input div.list p.label {
  margin: 0;
  font-family: sans-serif;
}
