body {
  height: 100vh;
  margin: 0;
}
div#wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
@media only screen and (max-width: 768px) {
  div#wrapper {
    flex-direction: column;
  }
}
div#wrapper div#map {
  flex: auto;
}
div#wrapper div#input {
  font-family: sans-serif;
  text-align: center;
  background-color: darkgrey;
}
@media only screen and (min-width: 768px) {
  div#wrapper div#input {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  div#wrapper div#input #list-gender {
    display: none;
  }
  div#wrapper div#input #list-ownership {
    display: none;
  }
  div#wrapper div#input #list-filter {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  div#wrapper div#input #radio-gender {
    display: none;
  }
  div#wrapper div#input #radio-ownership {
    display: none;
  }
  div#wrapper div#input #radio-filter {
    display: none;
  }
}
div#wrapper div#input button,
div#wrapper div#input select {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  div#wrapper div#input button,
  div#wrapper div#input select {
    height: 50px;
  }
}
div#wrapper div#input div.list {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  div#wrapper div#input div.list {
    display: inline-block;
  }
}
div#wrapper div#input div.list p.label {
  margin: 0;
  font-family: sans-serif;
}
div#wrapper div#input div.radio {
  display: flex;
  flex-direction: column;
}
