@import "select.less";
@import "button.less";
@import "radiobutton.less";
@import (reference) "colortheme.less";

body {
    margin: 0;
}

select, button {
    margin: 5px;
}

hr {
    margin: 10px;
    border-top: 1px solid @color-light;
    opacity: 0.2;
}

h1 {
    font-size: 14pt;
    margin: 0;
}

.highlight {
    background-color: lighten(@color-highlight, 20%);
}
.highlight:hover {
    background-color: lighten(@color-highlight, 25%);
}

.edp_mobile_select {
    margin: 0 0 10px 10px;
    flex: auto;
    font-size: 4vh;
}
.edp_mobile_label {
    width: 25%;
    top: 0;
    bottom: 0;
    margin: auto;
}
.edp_mobile_button {
    margin: 0;
    flex: auto;
}
.edp_mobile_inline {
    margin: 0;
    flex: auto;
    display: flex;
    flex-direction: row;
}
.edp_mobile_flex {
    height: 100%;
    display: flex;
    flex-direction: column;
}

// Project Wrapper
#EducationDashboardProject {
    min-height: 100vh;
    width: 100%;
    display: flex;
    font-family: sans-serif;
    color: @color-text;
    text-align: center;

    // MOBILE
    flex-direction: column;

    // DESKTOP
    @media only screen and (min-aspect-ratio: 1/1) {
        flex-direction: row-reverse;
    }
}

// Division where the HighCharts object will be rendered
#edp_map {
    // have the element grow to fill all remaining space
    // after the UI is rendered
    flex: auto;
    max-height: 100vh;
}

// Wrapper for all mobile UI elements
#edp_mobile {
    // if landscape, hide mobile view
    @media only screen and (min-aspect-ratio: 1/1)  {
        display: none;
    }
}

// show menu button
#edp_mobile_show {
    float: left;
    height: 75px;
    width: 75px;
    border: none;
    border-radius: 50%;
    margin: 0 0 5px 5px;
    background-color: @color-active;
}

// logo & link to home page
#edp_mobile_logo {
    float: right;
    height: 75px;
    width: 75px;
    margin: 0 5px 5px 0;
}

// mobile UI pull-up menu
#edp_mobile_menu {
    display: none;
    position: fixed;
    bottom: 0;
    height: 75%;
    width: 100%;
    background-color: @color-dark;
}

// Division where UI elements will be rendered in the desktop layout
#edp_desktop {
    // if portrait, hide desktop view
    @media only screen and (max-aspect-ratio: 1/1) {
        display: none;
    }
    @media only screen and (aspect-ratio: 1/1) {
        display: block;
    }
    background-color: @color-dark;
}

// wrapper class for user input fields and associated text labels
.edp_desktop_input {
    margin: 10px;
}

// submit button
#edp_desktop_submit {
    font-size: 14pt;
    line-height: 30px;
    padding: 0 10px;
    color: @color-dark;
}

#edp_desktop_logo {
    margin: 20px;
    float: bottom;
}
#edp_desktop_logo:hover {
    opacity: 0.8;
}