// IMPORTS
@import "radiobutton.css";

// CONSTANTS
@width: 768px;	// >768 for desktop, <768 for mobile

body {
// For a standalone page
// Remove if embedding in another page

	height: 100vh;
  	margin: 0;
}

div#wrapper {
// Top-level container
// Contains the Map and Input divisions
// ** is a flex container

	height: 100%;
	width: 100%;
	display: flex;

	// DESKTOP
	flex-direction: row-reverse;	// organize contained elements horizontally from the right

	// MOBILE
	@media only screen and (max-width: @width) {
		flex-direction: column;		// organize contained elements vertically from the top
	}

	div#map {
		flex: auto;
	}

	div#input {
		font-family: sans-serif;
		text-align: center;				// center elements within the input div
		background-color: darkgrey;

		// DESKTOP
		@media only screen and (min-width: @width) {
			/*
			display: flex;
			flex-direction: column;
			justify-content: center;
			*/
			
			#list-gender, #list-ownership, #list-filter {
				display: none;
			}
		}

		// MOBILE
		@media only screen and (max-width: @width) {
			#radio-gender, #radio-ownership, #radio-filter {
				display: none;
			}
		}

		button, select {
			//font-size: 100%;
			text-align: center;

			// DESKTOP
			@media only screen and (min-width: @width) {
				min-height: 50px;
				//height: 50px;
				//width: 100%;
			}
		}

		div.list {
			text-align: center;			// center elements within div.list
			padding-top: 10px;
			padding-bottom: 10px;

			// DESKTOP
			//display: block;				// stack multiple div.list objects together vertically

			// MOBILE
			@media only screen and (max-width: @width) {
				display: inline-block;	// stack multiple div.list objects together horizontally
			}

			p.label {
				margin: 0;
				font-family: sans-serif;
			}
		}

		div.radio {
			display: flex;
			flex-direction: column;
		}

		p.link {
			font-size: 100%;
		}
	}
}