.edp_select {
  color: white;
  background-color: #777777;
  min-width: 100px;
  height: 25px;
  padding: 0 5px;
  border: 2px solid #36B35B;
  transition: background-color 0.1s;
}
.edp_select:hover {
  background-color: #6a6a6a;
}
.edp_select:focus {
  outline: none;
}
/*  Usage:
 *      <button class=".edp_button"></button>
 *
 *  To change the height while keeping text centered vertically,
 *  make sure that height = line-height, i.e.
 *      @height: 32px;
 *      height: @height;
 *      line-height: @height;
 */
.edp_button {
  top: 0;
  bottom: 0;
  margin: 5px auto;
  background-color: #CCCCCC;
  transition: background-color 0.1s;
  border: none;
  text-align: center;
}
.edp_button:hover {
  background-color: #d9d9d9;
}
.edp_button:active {
  background-color: #bfbfbf;
}
/*  Usage:
 *      <input type="radio" name="group" class="edp_radiobutton" id="group-1">
 *		<label for="group-1">
 *			<div class="edp_radiobutton"> [Your Text Here] </div>
 *		</label>
 */
input[type="radio"].edp_radiobutton {
  display: none;
}
div.edp_radiobutton {
  top: 0;
  bottom: 0;
  margin: 5px auto;
  text-align: center;
  line-height: 25px;
  height: 25px;
  width: 100px;
  border: 2px solid #36B35B;
  border-radius: 25px;
  background-color: #777777;
  transition: background-color 0.1s;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
div.edp_radiobutton:hover {
  background-color: #6a6a6a;
}
input[type="radio"].edp_radiobutton:checked + label .edp_radiobutton {
  background-color: #36B35B;
}
body {
  margin: 0;
}
select,
button {
  margin: 5px;
}
hr {
  margin: 10px;
  border-top: 1px solid #CCCCCC;
  opacity: 0.2;
}
h1 {
  font-size: 14pt;
  margin: 0;
}
.highlight {
  background-color: #79d694;
}
.highlight:hover {
  background-color: #8cdca4;
}
.edp_mobile_select {
  margin: 0 0 10px 10px;
  flex: auto;
  font-size: 4vh;
}
.edp_mobile_label {
  width: 25%;
  top: 0;
  bottom: 0;
  margin: auto;
}
.edp_mobile_button {
  margin: 0;
  flex: auto;
}
.edp_mobile_inline {
  margin: 0;
  flex: auto;
  display: flex;
  flex-direction: row;
}
.edp_mobile_flex {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#EducationDashboardProject {
  min-height: 100vh;
  width: 100%;
  display: flex;
  font-family: sans-serif;
  color: white;
  text-align: center;
  flex-direction: column;
}
@media only screen and (min-aspect-ratio: 1/1) {
  #EducationDashboardProject {
    flex-direction: row-reverse;
  }
}
#edp_map {
  flex: auto;
  max-height: 100vh;
}
@media only screen and (min-aspect-ratio: 1/1) {
  #edp_mobile {
    display: none;
  }
}
#edp_mobile_show {
  float: left;
  height: 75px;
  width: 75px;
  border: none;
  border-radius: 50%;
  margin: 0 0 5px 5px;
  background-color: #36B35B;
}
#edp_mobile_logo {
  float: right;
  height: 75px;
  width: 75px;
  margin: 0 5px 5px 0;
}
#edp_mobile_menu {
  display: none;
  position: fixed;
  bottom: 0;
  height: 75%;
  width: 100%;
  background-color: #777777;
}
#edp_desktop {
  background-color: #777777;
}
@media only screen and (max-aspect-ratio: 1/1) {
  #edp_desktop {
    display: none;
  }
}
@media only screen and (aspect-ratio: 1/1) {
  #edp_desktop {
    display: block;
  }
}
.edp_desktop_input {
  margin: 10px;
}
#edp_desktop_submit {
  font-size: 14pt;
  line-height: 30px;
  padding: 0 10px;
  color: #777777;
}
#edp_desktop_logo {
  margin: 20px;
  float: bottom;
}
#edp_desktop_logo:hover {
  opacity: 0.8;
}
